@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100;300;400;700&display=swap');

:root {
    --main-color: #FF3333;
    --secondary-color: #FFBA0A;
    --main-accent: #53B3CB;

    --main-font: 'Urbanist', sans-serif;
}

@media only screen and (min-width: 64rem) {
    header img {
        width: 120px;
    }

    footer div.contacts-container {
        justify-content: center;
        column-gap: 5rem;
    }
}