:root {
    --main-color: #FF3333;
}

header {
    display: block;
    text-align: center;
    padding: 1.2rem;
    border-bottom: 1px solid rgba(0, 0, 0, .8);
}

header img {
    width: 100px;
    vertical-align: middle;
}

header button {
    display: inline-block;
    border: none;
    background-color: white;
    font-size: 1.6rem;
    color: var(--main-color);
    position: absolute;
    left: auto;
    top: 2rem;
    right: .9rem;
}

nav {
    padding-top: 1rem;
    padding-bottom: 2rem;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul li a{
    display: block;
    padding: 1rem 2%;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1.2rem;
}

nav ul li.active a{
    color: white;
}

nav ul li a:hover {
    background-color: #FFE299;
    color: black;
}

nav ul.hide {
    display: none;
}


/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}